{% extends "layout/admin.html" %} 

{% block page_header %} List of invoices {% endblock %} 

{% block body_inner %}

    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="1">id</th>
                            <th>date created</th>
                            <th>user</th>
                            <th>total amount</th>
                            <th>paid amount</th>
                            <th>balance</th>
                            <th width="5">
                                <!-- <a class="btn btn-success pull-right" href="{{ url_for("new_facility") }}" role="button">
                                    Add a new facility
                                </a> -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in invoices %}
                        <tr>
                            <td scope="row" class="barcode-text"> {{ f.get_barcode() }} </td>
                            <td> {{ f.created_at.date() }} </td>
                            <td> {{ f.get_user().email }} </td>
                            <td>PHP {{ f.get_total_amount() }} </td>
                            <td>PHP {{ f.get_paid_amount() }} </td>
                            <td>PHP {{ f.get_balance() }} </td>
                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <a class="btn btn-primary" href="{{ url_for('show_invoice', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        View
                                    </a>
                                    <a class="btn btn-danger del" href="{{ url_for('delete_invoice', id=f.id, __METHOD_OVERRIDE__='DELETE') }}"
                                        role="button">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}