{% extends "layout/admin.html" %}

{% block page_header %}
    Invoice information | {{ invoice.id }}
{% endblock %}

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">   
                <h1 id="">Invoice</h1>
                <p>
                    <strong>ID:</strong> {{ invoice.id }}<br />
                    <strong>User:</strong> {{ invoice.user.last_name }}, {{ invoice.user.first_name }}<br />
                    <strong>Created at:</strong> {{ invoice.created_at.date }}<br />
                    <strong>Details:</strong> {{ invoice.details }}<br />
                    <strong>Total Amount:</strong> {{ invoice.get_total_amount() }}<br />
                    <strong>Paid Amount:</strong> {{ invoice.get_paid_amount() }}<br />
                    <strong>Balance:</strong> {{ invoice.get_balance() }}<br />
                    <strong>Invoice Items:</strong><br/>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>details</th>
                                <th>price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in invoice.invoice_items %}
                            <tr>
                                <td scope="row">{{ item.name }}</td>
                                <td>{{ item.details }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>{{ invoice.get_total_amount() }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
