{% macro render_field_with_errors(field) %}
  <p>
    {{ field.label }} {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}

{% macro render_field_bs(field) %}
  <div class="form-group">
    {%- if field|is_boolean_field %}
    <div class="i-checks">
      <input id="{{field.name*2}}" name="{{field.name}}" type="checkbox" value="" class="checkbox-template">
      {{ field.label(for=field.name*2) }}
    </div>
    {% else %}
    {{ field(id=field.name*2, class_='input-material', **kwargs)|safe }}
    {{ field.label(for=field.name*2, class_="label-material") }}
    {% endif %}
    {%- if field.errors %}
      {%- for error in field.errors %}
        <small class="help-block">{{error}}</small>
      {%- endfor %}
    {%- elif field.description -%}
      <small class="help-block">{{field.description|safe}}</small>
    {%- endif %}
  </div>
{% endmacro %}

{%- macro render_field_bs_old(field, label_width=2, field_width=3) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
  {{field.label(class="control-label col-lg-" ~ label_width)}}
  <div class="col-lg-{{field_width}}">
    {%- if field|is_boolean_field %}
    <div class="checkbox">
      <label>
      {{field(**kwargs)|safe}}
      </label>
    </div>
    {% else %}
    {{field(class="form-control", **kwargs)|safe}}
    {% endif %}
  </div>

  {%- if field.errors %}
    {%- for error in field.errors %}
      <span class="col-lg-{{12 - label_width - field_width }} help-block">{{error}}</span>
    {%- endfor %}
  {%- elif field.description -%}
    <span class="help-block">{{field.description|safe}}</span>
  {%- endif %}
</div>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}
