{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_bs %}
{% extends "layout/base.html" %}
{% include "security/_messages.html" %}

{% block body %}

<div class="page login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- Logo & Information Panel-->
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>Register</h1>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                {{ register_user_form.hidden_tag() }}
                {{ render_field_bs(register_user_form.email) }}
                {{ render_field_bs(register_user_form.password) }}
                {% if register_user_form.password_confirm %}
                  {{ render_field_bs(register_user_form.password_confirm) }}
                {% endif %}
                <button id="register" type="submit" class="btn btn-primary">Register</button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form>
              <br>
              <small>Already have an account? </small>
              <a href="{{ url_for_security('login') }}" class="Signup">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}