/* latin */

@font-face {
    font-family: 'Libre Barcode 128';
    font-style: normal;
    font-weight: 400;
    src: local('Libre_Barcode_128/Libre Barcode 128 Regular'), local('Libre_Barcode_128/LibreBarcode128-Regular'), url(https://fonts.gstatic.com/s/librebarcode128/v5/cIfnMbdUsUoiW3O_hVviCwVjuLtXeK_H9AI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Libre Barcode 128 Text';
    font-style: normal;
    font-weight: 400;
    src: local('Libre_Barcode_128_Text/Libre Barcode 128 Text Regular'), local('Libre_Barcode_128_Text/LibreBarcode128Text-Regular'), url(https://fonts.gstatic.com/s/librebarcode128text/v5/fdNv9tubt3ZEnz1Gu3I4-zppwZ9CWZ16Z0w5QVrS6Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Libre Barcode 39';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Barcode 39 Regular'), local('LibreBarcode39-Regular'), url(https://fonts.gstatic.com/s/librebarcode39/v5/-nFnOHM08vwC6h8Li1eQnP_AHzI2G_Bx0g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Libre Barcode 39 Text';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Barcode 39 Text Regular'), local('LibreBarcode39Text-Regular'), url(https://fonts.gstatic.com/s/librebarcode39text/v5/sJoa3KhViNKANw_E3LwoDXvs5Un0HQ1vT-0H0h5K.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.barcode {
    font-family: 'Libre Barcode 39', cursive;
}

.barcode-text {
    font-family: 'Libre Barcode 39 Text', cursive;
}

.barcode:hover { 
    font-size: 5em;
}

.barcode-text:hover { 
    font-size: 5em;
}