<nav class="side-navbar">
<!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <!-- <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div> -->
        <div class="title">
        <h1 class="h4">{{ current_user.first_name }}</h1>
        <p> logged in as  {{current_user.roles[0].name }} </p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
        <li><a href="{{ url_for("admin_index") }}">Dashboard </a></li>
        <li><a href="{{ url_for("list_users") }}"> Users </a></li>
        <li><a href="{{ url_for("list_facilities") }}"> Facilities </a></li>
        <li><a href="{{ url_for("list_facility_reservations") }}">Facility Reservations </a></li>
        <li><a href="{{ url_for("list_golf_courses") }}"> Golf Courses </a></li>
        <li><a href="{{ url_for("list_tee_time_reservations") }}"> Tee Time Reservations </a></li>
        <li><a href="{{ url_for("list_inventory_items") }}"> Inventory Items </a></li>
        <li><a href="{{ url_for("list_invoices") }}"> Invoices </a></li>
        <li><a href="{{ url_for("list_payments") }}"> Payments </a></li>
    </ul>
    <span class="heading">Misc</span>
    <ul class="list-unstyled">
        <li> <a href="{{ url_for("admin_forms") }}"> </i>Forms Templates </a></li>
        <!-- <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
        <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li> -->
    </ul>
</nav>