/* your styles go here */

/* .dataTables_wrapper section.dashboard-counts .row {
  padding: 0px 0px;
  margin: 0;
} */

section.dashboard-counts .row {
  padding: 10px 0px;
  /* padding-bottom: 0px; */
  margin: 0;
}

.btn,
.pagination {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.table td,
.table th {
  padding: .50rem;
}

.dataTables_wrapper {
  padding: 0;
}
