{% extends "layout/admin.html" %} 
{% block page_header %} Edit reservation details | {{ facility_reservation.name }} {% endblock %}
{% block body_inner %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>
{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('update_facility_reservation', __METHOD_OVERRIDE__='PUT', id=facility_reservation.id) }}" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="name">Updating a reservation as</label>
                        <input type="text" disabled="true" class="form-control here" value="({{ current_user.email }}) {{ current_user.last_name }}, {{ current_user.first_name }}">
                        <span id="nameHelpBlock" class="form-text text-muted">Your user details would be tagged to the system as the one who created this facility</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Facility/Room to be reserved</label>
                        <input type="text" disabled="true" class="form-control here" value="{{ facility_reservation.facility.name }}">
                        <span id="nameHelpBlock" class="form-text text-muted">If you wish to change the facility, please delete this reservation and create a new one.</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Purpose of the reservation</label>
                        <input id="name" name="name" placeholder="Birthday party celebration at the town hall" type="text" value="{{ facility_reservation.name }}" class="form-control here" aria-describedby="nameHelpBlock">
                        <span id="nameHelpBlock" class="form-text text-muted">What would the facility be used for?</span>
                    </div>
                    <div class="form-group">
                        <label for="details">Reservation etails</label>
                        <textarea id="details" name="details" cols="40" rows="5" class="form-control" aria-describedby="detailsHelpBlock" required="required">{{ facility_reservation.details }}</textarea>
                        <span id="detailsHelpBlock" class="form-text text-muted">Further information regarding the reservation.</span>
                        <span id="detailsHelpBlock" class="form-text text-muted">Changes in the reservation details after approval should be raised to the club help desk. All changes would be subject to club rules as well as the availability of the venue.</span>
                    </div>
                    <div class="form-group">
                        <label for="date_start">Start date</label> 
                        <input id="date_start" name="date_start" value="{{ facility_reservation.date_start }}" type="date" class="form-control here" required="required">
                    </div>
                    <div class="form-group">
                            <label for="date_end">End date</label> 
                            <input id="date_end" name="date_end" value="{{ facility_reservation.date_end }}" type="date" class="form-control here" required="required">
                    </div>
                    <div class="form-group">
                        <label for="name">Reservation status</label>
                        {% if current_user.has_role('admin') %}
                            <select id="status" name="status" class="custom-select" required="required">
                                {% for status in ['pending', 'approved', 'paid'] %}
                                    <option value="{{ status }}" {{ "selected=''" if facility_reservation.status == status else "" }} >{{ status }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="text" disabled="true" class="form-control here" value="{{ facility_reservation.status }}">
                        {% endif %}
                        <span id="nameHelpBlock" class="form-text text-muted">All reservations are subject to the approval of the club. Approved reservations have to be paid at the club cashier.</span>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}