{% extends "layout/admin.html" %} 

{% block page_header %} List of reservations {% endblock %} 

{% block body_inner %}

    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="1">id</th>
                            <th>name</th>
                            <th>status</th>
                            <th>days</th>
                            <th>date start</th>
                            <th>date end</th>
                            <th width="5">Facility/Room</th>
                            <th width="5">
                                <a class="btn btn-success pull-right" href="{{ url_for("new_facility_reservation") }}" role="button">
                                    Create a new reservation
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in facility_reservations %}
                        <tr>
                            <td scope="row"  class="barcode-text"> {{ f.get_barcode() }} </td>
                            <td> {{ f.name }} </td>
                            <td> {{ f.status }} </td>
                            <td> {{ f.get_days() }} </td>
                            <td> {{ f.date_start }} </td>
                            <td> {{ f.date_end }} </td>
                            <td>
                                <a class="btn btn-info" href="{{ url_for('show_facility', id=f.facility.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                    {{ f.facility.name }}
                                </a>
                            </td>
                            
                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <a class="btn btn-primary" href="{{ url_for('show_facility_reservation', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        View
                                    </a>
                                    <a class="btn btn-warning" href="{{ url_for('edit_facility_reservation', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger del" href="{{ url_for('delete_facility_reservation', id=f.id, __METHOD_OVERRIDE__='DELETE') }}"
                                        role="button">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}