{% extends "layout/admin.html" %} 

{% block page_header %} New reservation {% endblock %} 

{% block body_inner %} 

{% for msg in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>
{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('create_facility_reservation') }}" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="name">Creating a reservation as</label>
                        <input type="text" disabled="true" class="form-control here" value="({{ current_user.email }}) {{ current_user.last_name }}, {{ current_user.first_name }}">
                        <span id="nameHelpBlock" class="form-text text-muted">Your user details would be tagged to the system as the one who created this facility</span>
                    </div>
                    <div class="form-group">
                        <label for="golf_course_id">Facility/Room to be reserved</label> 
                        <div>
                            <select id="facility_id" name="facility_id" class="custom-select" required="required">
                                {% for facility in vars['facilities'] %}
                                <option value="{{ facility.id }}">{{ facility.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span id="nameHelpBlock" class="form-text text-muted">Please note that you cannot change the facility/room after submitting the form.</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Purpose of the reservation</label>
                        <input id="name" name="name" placeholder="Birthday party celebration at the town hall" type="text" class="form-control here" aria-describedby="nameHelpBlock">
                        <span id="nameHelpBlock" class="form-text text-muted">What would the facility be used for?</span>
                    </div>
                    <div class="form-group">
                        <label for="details">Reservation etails</label>
                        <textarea id="details" name="details" cols="40" rows="5" class="form-control" aria-describedby="detailsHelpBlock" required="required"></textarea>
                        <span id="detailsHelpBlock" class="form-text text-muted">Further information regarding the reservation.</span>
                        <span id="detailsHelpBlock" class="form-text text-muted">Changes in the reservation details after approval should be raised to the club help desk. All changes would be subject to club rules as well as the availability of the venue.</span>
                    </div>
                    <div class="form-group">
                        <label for="date_start">Start date</label> 
                        <input id="date_start" name="date_start" value="{{ vars.datetime.datetime.now().date() }}" type="date" class="form-control here" required="required">
                    </div>
                    <div class="form-group">
                            <label for="date_end">End date</label> 
                            <input id="date_end" name="date_end" value="{{ vars.datetime.datetime.now().date() }}" type="date" class="form-control here" required="required">
                    </div>
                    <div class="form-group">
                        <label for="name">Reservation status</label>
                        <input type="text" disabled="true" class="form-control here" value="pending">
                        <span id="nameHelpBlock" class="form-text text-muted">All reservations are subject to the approval of the club. Approved reservations have to be paid at the club cashier.</span>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}