{% extends "layout/admin.html" %} {% block page_header %} Reservation information | {{ facility_reservation.name }} {% endblock
%} {% block body_inner %} {% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <h1 id="">Facility</h1>
                <p>
                    <strong>ID:</strong> {{ facility_reservation.id }}
                    <br />
                    <strong>Facility/Room:</strong>
                    <a href="{{ url_for('show_facility', id=facility_reservation.facility.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                        {{ facility_reservation.facility.name }}
                    </a>
                    <br />
                    <strong>Purpose of the reservation:</strong> {{ facility_reservation.name }}
                    <br />
                    <strong>Reservation details:</strong> {{ facility_reservation.details }}
                    <br />
                    <strong>Date start:</strong> {{ facility_reservation.date_start }}
                    <br />
                    <strong>Date End:</strong> {{ facility_reservation.date_end }}
                    <br />
                    <strong>Status:</strong> {{ facility_reservation.status }}
                    <br />
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}