{% extends "layout/admin.html" %} 

{% block page_header %} Inventory Items {% endblock %} 

{% block body_inner %}

    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="5">id</th>
                            <th >name</th>
                            <th width="5">type</th>
                            <th width="5">quantity</th>
                            <th>price</th>
                            <th width="5">
                                <a class="btn btn-success pull-right" href="{{ url_for("new_inventory_item") }}" role="button">
                                    Add Inventory Item
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gf in inventory_items %}
                        <tr>
                            <td scope="row" class="barcode-text"> {{ gf.get_barcode() }} </td>
                            <td> {{ gf.name }} </td>
                            <td> {{ gf.type }} </td>
                            <td> {{ gf.quantity }} </td>
                            <td> PHP {{ gf.price }} </td>
                            <td width="5">
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <a class="btn btn-primary" 
                                        href="{{ url_for('show_inventory_item', id=gf.id, __METHOD_OVERRIDE__='GET') }}" 
                                        role="button">
                                        View
                                    </a>
                                    <a class="btn btn-warning" 
                                        href="{{ url_for('edit_inventory_item', id=gf.id, __METHOD_OVERRIDE__='GET') }}" 
                                        role="button">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger del" 
                                        href="{{ url_for('delete_inventory_item', id=gf.id, __METHOD_OVERRIDE__='DELETE') }}" 
                                        role="button">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}