{% extends "layout/admin.html" %} {% block page_header %} New Inventory Item {% endblock %} {% block body_inner %} {% for
msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}


<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('create_inventory_item', __METHOD_OVERRIDE__='POST') }}" method="post"
                    accept-charset="utf-8">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" name="name" placeholder="Product or service name" type="text" class="form-control here" aria-describedby="nameHelpBlock">
                        <span id="nameHelpBlock" class="form-text text-muted">Please input a descriptive name to avoid confusion</span>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea id="details" name="details" cols="40" rows="5" class="form-control" aria-describedby="detailsHelpBlock" required="required"></textarea>
                        <span id="detailsHelpBlock" class="form-text text-muted">This should contain requirements and or specific details regarding the item</span>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <div>
                            <select id="type" name="type" aria-describedby="typeHelpBlock" required="required" class="custom-select">
                                {% for value in vars['item_types'] %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span id="typeHelpBlock" class="form-text text-muted">
                                <span class="badge badge-pill badge-info">sale</span> gets deducted from inventory.
                            </span>
                            <span id="typeHelpBlock" class="form-text text-muted">
                                <span class="badge badge-pill badge-info">service</span> refer to services rendered by the club and miscellaneous fees.
                            </span>
                            <span id="typeHelpBlock" class="form-text text-muted">
                                <span class="badge badge-pill badge-info">rental</span> are items which should be returned to the club after a specified period.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input id="price" name="price" placeholder="1.00" type="number" class="form-control here" aria-describedby="priceHelpBlock">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input id="quantity" name="quantity" type="number" value="1" class="form-control here">
                        <span id="typeHelpBlock" class="form-text text-muted">
                            <span class="badge badge-pill badge-info">service</span> items default to 1 and do not deminish.
                        </span>
                        <span id="typeHelpBlock" class="form-text text-muted">
                            <span class="badge badge-pill badge-info">rental</span> state of the items would be reflect in the quantity.
                        </span>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}