{% extends "layout/admin.html" %}

{% block page_header %}
    Show Inventory Item | {{ inventory_item.name }}
{% endblock %}

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">   
                <h1 id="">Golf Course</h1>
                <p>
                    <strong>Id:</strong> {{ inventory_item.id }}<br />
                    <strong>Name:</strong> {{ inventory_item.name }}<br />
                    <strong>Type:</strong> {{ inventory_item.type }}<br />
                    <strong>Details:</strong> {{ inventory_item.details }}<br />
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
