{% extends "layout/admin.html" %} {% block page_header %} New Golf Course {% endblock %} 

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}


<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('create_golf_course', __METHOD_OVERRIDE__='POST') }}" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" name="name" placeholder="Ariana Course" type="text" class="form-control here" aria-describedby="nameHelpBlock"
                            required="required">
                        <span id="nameHelpBlock" class="form-text text-muted">Please enter the public name of the golf course</span>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea id="details" name="details" cols="40" rows="5" class="form-control" aria-describedby="detailsHelpBlock" required="required"></textarea>
                        <span id="detailsHelpBlock" class="form-text text-muted">Please describe the golf course and mention the features that it has</span>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <div>
                            <select id="type" name="type" class="custom-select" aria-describedby="typeHelpBlock" required="required">
                                {% for a in ['18 holes', '9 holes', '36 holes', 'miniature'] %}
                                    <option value="{{ a }}" >{{ a }}</option>
                                {% endfor %}
                            </select>
                            <span id="typeHelpBlock" class="form-text text-muted">The number of holes of the golf course</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price per tee time</label>
                        <input id="price" name="price" placeholder="500.00" type="number" value="350.00" class="form-control here" aria-describedby="priceHelpBlock">
                        <span id="detailsHelpBlock" class="form-text text-muted">Tee time reservation price.</span>
                    </div>
                    <div class="form-group">
                        <label for="active">Is this golf course be available for tee time reservation?</label>
                        <div>
                            <select id="active" name="active" aria-describedby="typeHelpBlock" required="required" class="">
                                {% for a in [true, false] %}
                                    <option value="{{ a }}">{{ a }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}