{% extends "layout/admin.html" %}

{% block page_header %}
    Show Golf Course | {{ golf_course.name }}
{% endblock %}

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">   
                <h1 id="">Golf Course</h1>
                <p>
                    <strong>Id:</strong> {{ golf_course.id }}<br />
                    <strong>Name:</strong> {{ golf_course.name }}<br />
                    <strong>Type:</strong> {{ golf_course.type }}<br />
                    <strong>Details:</strong> {{ golf_course.details }}<br />
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
