{% extends "layout/admin.html" %} 
{% block page_header %} Edit payment details | {{ payment.name }} {% endblock %}
{% block body_inner %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>
{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('update_payment', __METHOD_OVERRIDE__='PUT', id=payment.id) }}" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="name">Editing payment as</label>
                        <input type="text" disabled="true" class="form-control here" value="({{ current_user.email }}) {{ current_user.last_name }}, {{ current_user.first_name }}">
                        <span id="nameHelpBlock" class="form-text text-muted">Your user details would be tagged to the system as the one who created this payment</span>
                    </div>
                    <div class="form-group">
                        <label for="active">Invoice ID</label>
                        <div>
                            <select id="active" name="invoice_id" aria-describedby="typeHelpBlock" required="required" class="">
                                {% for a in vars.get('invoices', []) %}
                                    <option value="{{ a.id }}" {{'selected=""' if a.id == payment.invoice_id else ""}}>{{ a.get_display() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="active">Mode of payment to the cashier</label>
                        <div>
                            <select id="active" name="type" aria-describedby="typeHelpBlock" required="required" class="">
                                {% for a in ['cash', 'credit'] %}
                                    <option value="{{ a }}" {{'selected=""' if a == payment.type else ""}}>{{ a }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Amount">Amount</label>
                        <input id="Amount" name="amount" placeholder="5000.00" type="number" value="{{ payment.amount }}" class="form-control here" aria-describedby="AmountHelpBlock">
                        <span id="detailsHelpBlock" class="form-text text-muted">Amount of payment to be deducted from the invoice.</span>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea id="details" name="details" cols="40" rows="5" class="form-control" aria-describedby="detailsHelpBlock" required="required">{{ payment.details }}</textarea>
                        <span id="detailsHelpBlock" class="form-text text-muted">Additional information regarding the payment.</span>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}