{% extends "layout/admin.html" %} 

{% block page_header %} List of payments {% endblock %} 

{% block body_inner %}

    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="1">id</th>
                            <th>for invoice id</th>
                            <th>create at</th>
                            <th>type</th>
                            <th>amount</th>
                            <th width="5"></th>
                            <th width="5">
                                <a class="btn btn-success pull-right" href="{{ url_for("new_payment") }}" role="button">
                                    Add a new payment
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in payments %}
                        <tr>
                            <td scope="row"> {{ f.id }} </td>
                            <td> {{ f.invoice_id }} </td>
                            <td> {{ f.type }} </td>
                            <td> PHP {{ f.amount }} </td>
                            <td>
                                <a class="btn btn-info" href="{{ url_for('show_invoice', id=f.invoice_id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                    view invoice
                                </a>
                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <a class="btn btn-primary" href="{{ url_for('show_payment', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        View
                                    </a>
                                    <a class="btn btn-warning" href="{{ url_for('edit_payment', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger del" href="{{ url_for('delete_payment', id=f.id, __METHOD_OVERRIDE__='DELETE') }}"
                                        role="button">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}