{% extends "layout/admin.html" %}

{% block page_header %}
    Payment information | {{ payment.id }}
{% endblock %}

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">   
                <h1 id="">Payment</h1>
                <p>
                    <strong>ID:</strong> {{ payment.id }}<br />
                    <strong>Created at:</strong> {{ payment.created_at }}<br />
                    <strong>Amount:</strong> PHP {{ payment.amount }}<br />
                    <strong>Payment Method:</strong> {{ payment.type }}<br />
                    <strong>Details:</strong> {{ payment.details }}<br />
                    <a class="btn btn-info" href="{{ url_for('show_invoice', id=payment.invoice_id, __METHOD_OVERRIDE__='GET') }}" role="button">
                        view invoice
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
