{% extends "base.html" %}

{% block body %}
<div class="page">
        <!-- Main Navbar-->
        <header class="header">
            {% include 'admin/_navbar.html' %}
        </header>
        <div class="page-content d-flex align-items-stretch"> 
          <!-- Side Navbar -->
          {% include 'admin/_sidebar.html' %}

          <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
              <div class="container-fluid">
                <h2 class="no-margin-bottom">
                  {% block page_header %}
                  {% endblock %}                  
                </h2>
              </div>
            </header>

            <!-- Dashboard Counts Section-->
            {% block body_inner %}
            {% endblock %}
            
            <!-- Page Footer-->
            <footer class="main-footer">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6">
                    <p>Golf MIS &copy; 2017-2018</p>
                  </div>
                  <div class="col-sm-6 text-right">
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
{% endblock %}