{% import "macros/wtf.html" as wtf %}

<!DOCTYPE html>
<html{% block html_attribs %} lang="en"{% endblock %}>
    {% block html %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bootstrap Material Admin by Bootstrapious.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="all,follow">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <!-- Bootstrap CSS-->
        <link href="{{ url_for('static', filename='bootstrap/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome CSS-->
        <link href="{{ url_for('static', filename='bootstrap/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- Fontastic Custom icon font-->
        <link href="{{ url_for('static', filename='bootstrap/css/fontastic.css') }}" rel="stylesheet">
        <!-- Google fonts - Poppins -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
        <!-- theme stylesheet-->
        <link href="{{ url_for('static', filename='bootstrap/css/style.default.css') }}" rel="stylesheet" id="theme-stylesheet">
        <link href="{{ url_for('static', filename='bootstrap/css/style.green.css') }}" rel="stylesheet" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link href="{{ url_for('static', filename='bootstrap/css/custom.css') }}" rel="stylesheet">
        <!-- Favicon-->
        <link href="{{ url_for('static', filename='bootstrap/img/favicon') }}" rel="shortcut icon">
        <!-- Tweaks for older IEs--><!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

        <!-- Javascript files-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/popper.js/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/jquery.cookie/jquery.cookie.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/chart.js/Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/jquery-validation/jquery.validate.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/charts-home.js') }}"></script>
        <!-- Main File-->
        <script src="{{ url_for('static', filename='bootstrap/js/front.js') }}"></script>
        <!-- Font Awesome is licensed CC-BY-3.0: http://fortawesome.github.com/Font-Awesome -->
      </head>
      <body>
        {%- block body %}
            {%- block body_content %}
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand">{{ config["PROJECT_NAME"].title() }}</a>
                    </div>
                    <ul class="nav navbar-nav">
                        {%- for endpoint, caption in [
                            ('index', 'Home')
                        ] %}
                            <li{% if endpoint == request.endpoint %} class="active"{% endif %}>
                                <a href={{url_for(endpoint) }}>{{ caption }}</a>
                            </li>
                        {%- endfor %}
    
                        {% if current_user.has_role("admin") %}
                            <li{% if 'admin' == request.endpoint %} class="active"{% endif %}>
                                <a href="/admin">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
    
                    <ul class="nav navbar-nav pull-right">
                    {% if current_user.is_active %}
                        <li><a href={{url_for_security('logout')}}>Logout</a></li>
                    {% else %}
                        <li><a href={{url_for_security('login')}}>Login</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
    
            {%- block body_inner%}
            <div class="container" style="margin-top: 60px">
                <div id="messages-wrap">
                    <div id="messages">
                    {% for category, msg in get_flashed_messages(with_categories=true) %}
                        {% if loop.first %}
                            <br />
                        {% endif %}
                        <div class="alert alert-{{ category|alert_class }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ msg }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
    
    
                {%- block content %}
                {% endblock content %}
            </div>
            {%- endblock body_inner %}
            {%- endblock body_content %}
    
            {%- if config['GOOGLE_ANALYTICS_ACCOUNT'] %}
                <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', '{{config['GOOGLE_ANALYTICS_ACCOUNT']}}']);
                    _gaq.push(['_trackPageview']);
    
                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                </script>
            {%- endif %}
    
            {% block end_scripts %}
            {% endblock end_scripts %}
        {%- endblock body %}
        </body>
    {% endblock html %}
</html>
