{% extends "layout/admin.html" %} 
{% block page_header %} Edit facility details | {{ facility.name }} {% endblock %}
{% block body_inner %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>
{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('update_facility', __METHOD_OVERRIDE__='PUT', id=facility.id) }}" method="post" accept-charset="utf-8">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" name="name" placeholder="Facility name" type="text" value="{{ facility.name }}" class="form-control here" aria-describedby="nameHelpBlock">
                            <span id="nameHelpBlock" class="form-text text-muted">Please input a descriptive name to avoid confusion</span>
                        </div>
                        <div class="form-group">
                            <label for="details">Details</label>
                            <textarea id="details" name="details" cols="40" rows="5" class="form-control" aria-describedby="detailsHelpBlock" required="required">{{ facility.details }}</textarea>
                            <span id="detailsHelpBlock" class="form-text text-muted">This should contain requirements and or specific details regarding the facility</span>
                        </div>
                        <div class="form-group">
                            <label for="capacity">Capacity</label>
                            <input id="capacity" name="capacity" placeholder="50" type="number" value="{{ facility.capacity }}" class="form-control here" aria-describedby="priceHelpBlock">
                        </div>
                        <div class="form-group">
                            <label for="active">Is this facility be available for member reservation?</label>
                            <div>
                                <select id="active" name="active" aria-describedby="typeHelpBlock" required="required" class="custom-select">
                                    <option value="True">true</option>
                                    <option value="False">false</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" name="price" placeholder="5000.00" type="number" value="{{ facility.price }}" class="form-control here" aria-describedby="priceHelpBlock">
                            <span id="detailsHelpBlock" class="form-text text-muted">Price of reservation and use of the facility per day.</span>
                        </div>
                        <div class="form-group">
                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}