{% extends "layout/admin.html" %} 

{% block page_header %} List of facilities {% endblock %} 

{% block body_inner %}

    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="1">id</th>
                            <th>name</th>
                            <th>capacity</th>
                            <th>daily rate</th>
                            <th width="5"></th>
                            <th width="5">
                                <a class="btn btn-success pull-right" href="{{ url_for("new_facility") }}" role="button">
                                    Add a new facility
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in facilities %}
                        <tr>
                            <td scope="row"> {{ f.id }} </td>
                            <td> {{ f.name }} </td>
                            <td> {{ f.capacity }} </td>
                            <td>PHP {{ f.price }} </td>
                            <td>
                                <a class="btn btn-info" href="{{ url_for('list_facility_reservations_by_facility_id', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                    view reservations
                                </a>
                            </td>
                            
                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <a class="btn btn-primary" href="{{ url_for('show_facility', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        View
                                    </a>
                                    <a class="btn btn-warning" href="{{ url_for('edit_facility', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger del" href="{{ url_for('delete_facility', id=f.id, __METHOD_OVERRIDE__='DELETE') }}"
                                        role="button">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}