{% extends "layout/admin.html" %} 

{% block page_header %} New facility {% endblock %} 

{% block body_inner %} 

{% for msg in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>
{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('create_facility') }}" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="name">Adding a new facility as</label>
                        <input type="text" disabled="true" class="form-control here" value="({{ current_user.email }}) {{ current_user.last_name }}, {{ current_user.first_name }}">
                        <span id="nameHelpBlock" class="form-text text-muted">Your user details would be tagged to the system as the one who created this facility</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" name="name" placeholder="Facility name" type="text" class="form-control here" aria-describedby="nameHelpBlock">
                        <span id="nameHelpBlock" class="form-text text-muted">Please input a descriptive name to avoid confusion.</span>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea id="details" name="details" cols="40" rows="5" class="form-control" aria-describedby="detailsHelpBlock" required="required"></textarea>
                        <span id="detailsHelpBlock" class="form-text text-muted">The information displayed here would be made available to the members looking to reserve the facility.</span>
                    </div>
                    <div class="form-group">
                        <label for="capacity">Capacity</label>
                        <input id="capacity" name="capacity" placeholder="50" type="number" value="50" class="form-control here" aria-describedby="priceHelpBlock">
                    </div>
                    <div class="form-group">
                        <label for="active">Is this facility be available for member reservation?</label>
                        <div>
                            <select id="active" name="active" aria-describedby="typeHelpBlock" required="required" class="custom-select">
                                <option value="1">True</option>
                                <option value="0">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input id="price" name="price" placeholder="5000.00" type="number" value="35000.00" class="form-control here" aria-describedby="priceHelpBlock">
                        <span id="detailsHelpBlock" class="form-text text-muted">Price of reservation and use of the facility per day.</span>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}