{% import "macros/wtf.html" as wtf %}

<!DOCTYPE html>
<html{% block html_attribs %} lang="en"{% endblock %}>
    {% block html %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bootstrap Material Admin by Bootstrapious.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="all,follow">
        <!-- Bootstrap CSS-->
        <link href="{{ url_for('static', filename='bootstrap/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome CSS-->
        <link href="{{ url_for('static', filename='bootstrap/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- Fontastic Custom icon font-->
        <link href="{{ url_for('static', filename='bootstrap/css/fontastic.css') }}" rel="stylesheet">
        <!-- Google fonts - Poppins -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
        <!-- theme stylesheet-->
        <link href="{{ url_for('static', filename='bootstrap/css/style.default.css') }}" rel="stylesheet" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link href="{{ url_for('static', filename='bootstrap/css/custom.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fonts/fonts.css') }}" rel="stylesheet">
        <!-- Favicon-->
        <link href="{{ url_for('static', filename='bootstrap/img/favicon.png') }}" rel="shortcut icon">
        <!-- Tweaks for older IEs--><!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

        <!-- Javascript files-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/popper.js/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/jquery.cookie/jquery.cookie.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/chart.js/Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/vendor/jquery-validation/jquery.validate.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/charts-home.js') }}"></script>
        <!-- Main File-->
        <script src="{{ url_for('static', filename='bootstrap/js/front.js') }}"></script>
        <!-- Font Awesome is licensed CC-BY-3.0: http://fortawesome.github.com/Font-Awesome -->
      </head>
      <body>
        {%- block body %}
        {%- endblock body %}
        </body>
    {% endblock html %}
</html>
