{% extends "layout/admin.html" %}

{% block page_header %}
    Facility information | {{ facility.name }}
{% endblock %}

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">   
                <h1 id="">Facility</h1>
                <p>
                    <strong>ID:</strong> {{ facility.id }}<br />
                    <strong>Name:</strong> {{ facility.name }}<br />
                    <strong>Details:</strong> {{ facility.details }}<br />
                    <strong>Seating Capacity:</strong> {{ facility.capacity }}<br />
                    <strong>Is currently reservable by guests:</strong> {{ facility.active }}<br />
                    <strong>Daily Rate:</strong> {{ facility.price }}<br />
                    <a class="btn btn-info" href="{{ url_for('list_facility_reservations_by_facility_id', id=facility.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                        view reservations
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
