{% extends "layout/admin.html" %} {% block page_header %} Edit Golf Course | {{ golf_course.name }} {% endblock %} 

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('update_golf_course', id=golf_course.id, __METHOD_OVERRIDE__='PUT') }}" method="post" accept-charset="utf-8">
                  
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" value="{{ golf_course.name}}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Type</label>
                        <div class="col-sm-9">
                            <input type="text" name="type" value="{{ golf_course.type}}" class="form-control">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Details</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="details" id="" cols="30" rows="10">{{golf_course.details}}</textarea>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="reset" class="btn btn-warning">Reset</button>
                            <a id="" class="btn btn-secondary"  href="{{ url_for('list_golf_courses') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}