{% extends "layout/admin.html" %} 

{% block page_header %} Tee Time Reservation List {% endblock %} 

{% block body_inner %}

    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="1">id</th>
                            <th>Golf Course</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th width="5">
                                <a class="btn btn-sm btn-success pull-right" href="{{ url_for("new_tee_time_reservation") }}" role="button">
                                    Reserve Tee Time
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gf in tee_time_reservations %}
                        <tr>
                            <td scope="row"> {{ gf.id }} </td>
                            <td>  
                                <a class="btn btn-sm btn-link" 
                                    href="{{ url_for('show_golf_course', id=gf.id, __METHOD_OVERRIDE__='GET') }}" 
                                    role="button">
                                    {{ gf.golf_course.name }}
                                </a>
                            </td>
                            <td> {{ gf.status }} </td>
                            <td> {{ gf.datetime.date() }} </td>
                            <td> {{ gf.datetime.time() }} </td>
                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    {% if gf.status == 'pending' %}
                                    <a class="btn btn-sm btn-success" 
                                        href="{{ url_for('approve_tee_time_reservation', id=gf.id, __METHOD_OVERRIDE__='PUT') }}" 
                                        role="button">
                                        Approve
                                    </a>
                                    {% endif %}
                                    
                                    <a class="btn btn-sm btn-danger del" 
                                        href="{{ url_for('delete_tee_time_reservation', id=gf.id, __METHOD_OVERRIDE__='DELETE') }}" 
                                        role="button">
                                        Delete
                                    </a>
                                    <a class="btn btn-sm btn-info" 
                                        href="{{ url_for('show_tee_time_reservation', id=gf.id, __METHOD_OVERRIDE__='GET') }}" 
                                        role="button">
                                        View
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}