{% extends "layout/admin.html" %} {% block page_header %} New Golf Course {% endblock %} 

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}


<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form method="POST" action="{{ url_for('create_tee_time_reservation', __METHOD_OVERRIDE__='POST') }}">
                    <div class="form-group">
                      <label for="date">Date</label> 
                      <input id="date" name="date" value="{{ vars.datetime.datetime.now().date() }}" type="date" class="form-control here" required="required">
                    </div>
                    <div class="form-group">
                      <label for="golf_course_id">Golf Course</label> 
                      <div>
                        <select id="golf_course_id" name="golf_course_id" class="custom-select" required="required">
                          {% for key, value in vars['golf_courses'].items() %}
                            <option value="{{ key }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="time">Tee Time</label> 
                      <div>
                        <select id="time" name="time" class="custom-select" aria-describedby="timeHelpBlock" required="required">
                          {% for key, value in vars['tee_times'].items() %}
                            <option value="{{ key }}">{{ value }}</option>
                          {% endfor %}
                        </select> 
                        <span id="timeHelpBlock" class="form-text text-muted">Please be present at least 30 minutes before your selected tee time</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="user_ids">Players</label> 
                      <div>
                          <select id="user_ids" name="user_ids" class="" aria-describedby="timeHelpBlock" required="required" multiple="">
                            {% for key, value in vars['members'].items() %}
                              <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                          </select>
                        <span id="user_idsHelpBlock" class="form-text text-muted">Please select up to 3 members and or guests who would be joining you in the tee time.</span>
                        <span id="user_idsHelpBlock" class="form-text text-muted">Players selected would be notified with an invite when the tee time reservation has been approved.</span>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="details">Remarks</label> 
                        <textarea id="details" name="details" cols="40" rows="5" aria-describedby="detailsHelpBlock" class="form-control"></textarea> 
                        <span id="detailsHelpBlock" class="form-text text-muted">If you have special requests which we may be able to accommodate, please write them down here.</span>
                    </div>
                    <div class="form-group">
                        <label for="name">Reservation status</label>
                        <input type="text" disabled="true" class="form-control here" value="pending">
                        <span id="nameHelpBlock" class="form-text text-muted">All reservations are subject to the approval of the club. Approved reservations have to be paid at the club cashier.</span>
                    </div>
                    <div class="form-group">
                      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}