{% extends "layout/admin.html" %}

{% block page_header %}
    Show Golf Course | {{ tee_time_reservation.datetime }}
{% endblock %}

{% block body_inner %}
    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">   
                <h1 id="">Tee Time Reservation</h1>
                <p>
                    <strong>ID:</strong> {{ tee_time_reservation.id }}<br />
                    <strong>Date:</strong> {{ tee_time_reservation.datetime.date() }}<br />
                    <strong>Time:</strong> {{ tee_time_reservation.datetime.time() }}<br />
                    <strong>Golf Course ID:</strong> {{ tee_time_reservation.golf_course_id }}<br />
                    <strong>Details:</strong> {{ tee_time_reservation.details }}<br />
                    <strong>Tee Time Members:</strong><br/>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="1">id</th>
                                <th>name</th>
                                <th>email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in tee_time_reservation.get_members() %}
                            <tr>
                                <td scope="row">{{ member.id }}</td>
                                <td>{{ member.last_name }}, {{ member.first_name }}</td>
                                <td>{{ member.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
