{% extends "layout/admin.html" %} 
{% block page_header %} Edit user details | {{ user.email }} {% endblock %}
{% block body_inner %}

{% for msg in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>
{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ url_for('update_user', __METHOD_OVERRIDE__='PUT', id=user.id) }}" method="post" accept-charset="utf-8">
                        <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input id="first_name" name="first_name" type="text" value="{{ user.first_name }}" class="form-control here" required="required">
                            </div>
                            <div class="form-group">
                                <label for="middle_name">Middle Name</label>
                                <input id="middle_name" name="middle_name" type="text" value="{{ user.middle_name }}" class="form-control here" required="required">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input id="last_name" name="last_name" type="text" value="{{ user.last_name }}" class="form-control here" required="required">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" name="email" type="text" value="{{ user.email }}" class="form-control here">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" class="form-control here">
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <div>
                                    <select id="gender" name="gender" class="custom-select" required="required">
                                        {% for a in ['male', 'female'] %}
                                            <option value="{{ a }}" {{ 'selected=""' if a == a.gender else '' }}>{{ a }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="type">User Type</label>
                                <div>
                                    <select id="type" name="type" class="custom-select" required="required">
                                        {% for a in ['member', 'guest', 'employee'] %}
                                            <option value="{{ a }}" {{ 'selected=""' if a == a.type else '' }}>{{ a }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthdate">Birthdate</label>
                                <input id="birthdate" name="birthdate" placeholder="1993-01-01" type="date" value="{{ user.birthdate }}" class="form-control here" required="required">
                            </div>
                            <div class="form-group">
                                <label for="company_name">Company Name</label>
                                <input id="company_name" name="company_name" placeholder="New Industries Co." type="text" value="{{ user.company_name }}" class="form-control here">
                            </div>
                            <div class="form-group">
                                <label for="company_position">Position in the Company</label>
                                <input id="company_position" name="company_position" placeholder="CFO" type="text" value="{{ user.company_position }}" class="form-control here">
                            </div>
                            <div class="form-group">
                                <label for="company_address">Company Address</label>
                                <textarea id="company_address" name="company_address" cols="40" rows="5" class="form-control">{{ user.company_address }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="home_address">Home Address</label>
                                <textarea id="home_address" name="home_address" cols="40" rows="5" class="form-control" required="required">{{ user.home_address }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="billing_address">Billing Address</label>
                                <textarea id="billing_address" name="billing_address" cols="40" rows="5" class="form-control" required="required" aria-describedby="billing_addressHelpBlock">{{ user.billing_address }}</textarea>
                                <span id="billing_addressHelpBlock" class="form-text text-muted">This will be used for creating invoices and recording users</span>
                            </div>
                            <div class="form-group">
                                <label for="landline_number">Landline Number</label>
                                <input id="landline_number" name="landline_number" placeholder="025613456" type="text" value="{{ user.landline_number }}" class="form-control here" required="required">
                            </div>
                            <div class="form-group">
                                <label for="mobile_number">Mobile Number</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-mobile-phone"></i>
                                    </div>
                                    <input id="mobile_number" name="mobile_number" placeholder="+639112233445" type="text" value="{{ user.mobile_number }}" class="form-control here" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="emergency_contact">Emergency Contact Details</label>
                                <textarea id="emergency_contact" name="emergency_contact" cols="40" rows="5" aria-describedby="emergency_contactHelpBlock"
                                    required="required" class="form-control">{{ user.emergency_contact }}</textarea>
                                <span id="emergency_contactHelpBlock" class="form-text text-muted">Please include the name, mobile number, and address of your contact person</span>
                            </div>
                            <div class="form-group">
                                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}