{% extends "layout/admin.html" %} 

{% block page_header %} List of users {% endblock %} 

{% block body_inner %}

    
{% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="1">id</th>
                            <th>type</th>
                            <th>name</th>
                            <th>gender</th>
                            <th>email</th>
                            <th>mobile</th>
                            <th width="5">
                                <a class="btn btn-success pull-right" href="{{ url_for("new_user") }}" role="button">
                                    Add a new user
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in users %}
                        <tr>
                            <td scope="row" class="barcode-text"> {{ f.get_barcode() }} </td>
                            <td> {{ f.type }} </td>
                            <td> {{ f.last_name }}, {{ f.first_name }} </td>
                            <td> {{ f.gender }} </td>
                            <td> {{ f.email }} </td>
                            <td> {{ f.mobile_number }} </td>
                            <td>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                    <a class="btn btn-primary" href="{{ url_for('show_user', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        View
                                    </a>
                                    <a class="btn btn-warning" href="{{ url_for('edit_user', id=f.id, __METHOD_OVERRIDE__='GET') }}" role="button">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger del" href="{{ url_for('delete_user', id=f.id, __METHOD_OVERRIDE__='DELETE') }}"
                                        role="button">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}