{% extends "layout/admin.html" %} {% block page_header %} User information | {{ user.email }} {% endblock %} {% block body_inner
%} {% for msg in get_flashed_messages() %}

<div class="alert alert-info" role="alert">
    <strong>{{ msg }}</strong>
</div>

{% endfor %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-lg-12">
                <h1 id="">User Details</h1>
                <p>
                    <strong>ID:</strong> {{ user.id }}
                    <br />
                    <strong>User Type:</strong> {{ user.type }}
                    <br />
                    <strong>Email:</strong> {{ user.email }}
                    <br />
                    <strong>First Name:</strong> {{ user.first_name }}
                    <br />
                    <strong>Last Name:</strong> {{ user.last_name }}
                    <br />
                    <strong>Middle Name:</strong> {{ user.middle_name }}
                    <br />
                    <strong>Gender:</strong> {{ user.gender }}
                    <br />
                    <strong>Birthdate:</strong> {{ user.birthdate }}
                    <br />
                    <strong>Mobile Number:</strong> {{ user.mobile_number }}
                    <br />
                    <strong>Landline Number:</strong> {{ user.landline_number }}
                    <br />
                    <strong>Home Address:</strong> {{ user.home_address }}
                    <br />
                    <strong>Billing Address:</strong> {{ user.billing_address }}
                    <br />
                    <strong>Occupation:</strong> {{ user.company_position }}
                    <br />
                    <strong>Company Name:</strong> {{ user.company_name }}
                    <br />
                    <strong>Company Address:</strong> {{ user.company_address }}
                    <br />
                    <strong>Emergency Contact:</strong> {{ user.emergency_contact }}
                    <br />
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}